/*section */
.section_light {
  background-color: var(--color-bg-medium);
}

/*button*/
.button {
  padding: 16px 32px;
  color: var(--color-text);
  background: none;
  border: none;
  font-size: 18px;
  line-height: 120%;
  border-radius: 10px;
  cursor: pointer;
}

.button__primary {
  background: var(--color-primary);
}

.button__primary:hover {
  background: var(--color-primary-hover);
}

.button__ghost {
  border: 1px solid var(--color-stroke);
}

.button__ghost:hover {
  background: var(--color-bg-medium);
}

@media (max-width: 640px) {
  .button {
    padding: 12px 32px;
  }
}
