/*section */
.section_light {
  background-color: var(--color-bg-medium);
}

.section__wrapper {
  max-width: var(--layout-width);
  margin: 0 auto;
  padding: 100px 24px;
}

/*button*/
.button {
  padding: 16px 32px;
  color: var(--color-text);
  background: none;
  border: none;
  font-size: 18px;
  line-height: 120%;
  border-radius: 10px;
  cursor: pointer;
}

.button__primary {
  background: var(--color-primary);
}

.button__primary:hover {
  background: var(--color-primary-hover);
}

.button__ghost {
  border: 1px solid var(--color-stroke);
}

.button__ghost:hover {
  background: var(--color-bg-medium);
}

/*social*/

.social-icons {
  display: flex;
  align-items: center;
  gap: 24px;
}

.social-icons__icon {
  border: 1px solid var(--color-stroke);
  border-radius: 8px;
  text-decoration: none;
  padding: 11px;
  width: 48px;
  height: 48px;
}

.social-icons__icon:hover {
  background-color: var(--color-bg-medium);
}

@media (max-width: 640px) {
  .button {
    padding: 12px 32px;
  }
}

/*headling*/

.headling {
  margin-bottom: 32px;
}

.headling__top {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: var(--color-secondary);
  margin-bottom: 8px;
}

.headling__bottom {
  font-weight: 400;
  font-size: 46px;
  line-height: 120%;
  color: var(--color-text);
  margin: 0 0 32px 0;
}

/*paragraph*/

.paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-text);
  max-width: 787px;
}

.paragraph_32 {
  margin-bottom: 32px;
}

/*card*/
.card {
  border-radius: 10px;
  background: var(--color-bg-medium);
}

.card__32 {
  padding: 32px;
}

/*post-wrapper*/

.post__wrapper {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.post {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.post__button a {
  display: block;
}

.post__stats {
  display: flex;
  gap: 32px;
}

.post__stat {
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--color-link-hover);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

.post__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.post__header {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: var(--color-text);
  margin: 0;
}

.post__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-text);
}
